.egg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 97;
  pointer-events: none;
  display: none;
}

#frogbox {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: none;
}


#canvas {
  position: fixed;
  z-index: 97;
  vertical-align: baseline;
  display: none;
}

#frog {
  display: none;
}

.navbar-menu.is-active { 
  position: absolute; 
  width: 100%; 
} 

html { 
  overflow-y: auto;
}