<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#3273DC">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
    <script src="./assets/js/vanilla-tilt.js"></script>
    <script src="./assets/js/eastereggs.js"></script>
  </head>

  <body>
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="#news">About</a></li>
      <li><a href="#contact">Projects</a></li>
    </ul>

    <div class="egg" id="container">
      <canvas class="frog_particle" id="canvas"></canvas>
    </div>

    <div>
      <img id="frog" src="./assets/img/frog.jpg" />
    </div>

    {{ content }}

  </body>
</html>